* {
  margin: 0;
  font-family: fantasy;
}

/* body {
  background-image: url(https://images5.alphacoders.com/102/thumbbig-1024509.webp);
  background-size: cover;
} */

#container {
  border: solid 1px rgba(202, 197, 197, 0.719);
  width: 70%;
  height: 60%;
  margin: 1% auto;
  background-color: white;
  border-radius: 20px;
}

#colors {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.ball {
  display: inline-block;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  border: solid 1px rgba(161, 156, 156, 0.671);
  margin: 8px;
  cursor: pointer;
}

.wrong {
  opacity: 30%;
  cursor: default;
}

.right {
  height: 100px;
  width: 100px;
  cursor: default;
}

#title {
  text-align: center;
  font-size: 65px;
  margin: 25px auto 50px;
}

#text {
  text-align: center;
  margin-bottom: 40px;
}

#rgb-color {
  font-size: 40px;
}

#score {
  font-size: 25px;
}

#answer {
  font-size: 55px;
  text-align: center;
  margin-bottom: 30px;
}

#buttons {
  text-align: center;
  margin-bottom: 20px;
}

.button {
  font-size: 30px;
  width: 150px;
  text-align: center;
  cursor: pointer;
}
